
html {
    box-sizing: border-box;
}

body {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

*, *::before, *::after { 
    box-sizing: inherit; 
}

a {
    text-decoration: none;
}

.vissually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect (0 0 0 0);
    overflow: hidden;
}

                /* Стили для хедера */

.main-header-order {
    background-color: #293449;
    width: 100%;
}

.container-wrapper {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.container-order {
    display: flex;
    justify-content: space-between;
}

.container-header-logo {
    min-height: 42px;
    width: 220px;
    padding-left: 55px;
    padding-top: 13px;
    background-color: #ee3643; 
    box-shadow: 0 5px 0 0 #b52933;
}

.container-header-logo:hover {
    background-color: #ca2c37;
}


.container-header-logo:active {
    background-color: #ba2732;
}

.main-header-logo  {
    position: relative;
    color: #ffffff; 
}

.main-header-logo::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 19px;
    background-image: url(../img/logo-technomart.svg);
    background-repeat: no-repeat;
}

.form-products {
    height: 100%;
}

.product-search {
    height: 100%;
    position: relative;
}

.product-search-btn {
    border: none;
    padding: 0;
    font-size: 0;
    top: 12px;
    left: 17px;
    width: 17px;
    height: 17px;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../img/icon-search.svg);
    position: absolute;

}

.form-products input[type="search"]:focus + .product-search-btn {
    background-image: url(../img/icon-search-red.svg);
}

.form-products input[type="search"] {
    border: none;
    padding: 0;
    padding-left: 49px;
    background: none;
    height: 100%;
    width: 270px; 
    color: #ffffff;
}

.form-products input[type="search"]:focus {
    color: #000000;
}

.form-products input[type="search"]::-webkit-input-placeholder {
    font-size: 17px;
    color: #ffffff;
}   

.form-products input[type="search"]::-webkit-search-cancel-button { 
    -webkit-appearance: none;
}

.form-products input[type="search"]:focus {
    background-color: #ffffff;
}

.main-header-order-list {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #ffffff;
}

.main-header-order-item:first-child {
    margin-right: auto; 
    width: 270px;
    padding: 0;
}

.main-header-order-item {
    width: 150px;
    display: flex;
}

.main-header-order-item:hover {
    background-color: #212a3a;
}

.main-header-order-item:active:not(:first-child) {
    background-color: #161d29;
}

.main-header-order-item a {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #ffffff;
}

.main-header-order-item a:active {
    opacity: 0.6;
}

.order-bookmark,
.order-cart {
    position: relative;
}

.order-cart  {
    padding-left: 50px;
}

.order-bookmark {
    padding-left: 45px;
}

.order-bookmark::before {
    content: " ";
    position: absolute;
    width: 14px;
    height: 16px;    
    left: 18px;
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    opacity: 0.3;
}

.order-cart::before {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    
    left: 18px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    opacity: 0.3;
}

.order-cart:hover::before,
.order-bookmark:hover::before {
    opacity: 1;
}

.order-cart:hover:active::before,
.order-bookmark:hover:active::before {
    opacity: 0.3;
}

.main-header-order-item:nth-child(3) {
    background-color: #ee3643;
}

.place-order {
    padding-left: 21px;
    background-color: #63a63e;
}

.place-order:hover:last-child {
    background-color: #5fbb2d; 
}

.place-order:active:last-child {
    background-color: #518534;
}

.main-header-user-navigation {
    width: 100%;
    background-color: #f3f7f9;
}

.header-user-account {
    padding: 48px 0 60px;
}

.container-user-information {
    display: flex;
    padding-bottom: 37px;
}

.user-navigation {
    width: 300px;
}

.site-description {
    width: 320px;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
    padding-left: 52px;
}

.site-phone {
    width: 270px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.site-phone a {
    display: block;
    width: 100%;
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    box-shadow: inset 0 0 0 3px #ffffff;
    padding: 13px 0 12px 75px;
    position: relative;
}

.site-phone a::before {
    content: " ";
    position: absolute;
    width: 19px;
    height: 19px;
    left: 15px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
}

.site-address {
    font-style: inherit;
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    padding-top: 2px;
    padding-left: 10px;
}

.user-navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.user-navigation-signin {
    padding: 11px 24px 9px;
    background-color: #ffffff;  
}

.user-navigation-login {
    width: 121px;
    padding-left: 14px;
    padding-top: 12px;
    margin-right: 10px;
    background-color: #ffffff;
}

.user-navigation-login a,
.user-navigation-signin a {
    color: #000000;
    font-size: 21px;
}

.user-navigation-login a {
    padding-left: 35px;
    position: relative;
}

.user-navigation-login a:before {
    content: " ";
    width: 20px;
    height: 17px;
    position: absolute;
    left:0;
    background-image: url(../img/icon-login.svg);
}

.user-navigation-login a:hover:before {
    background-image: url(../img/icon-login-dark.svg);
}

.user-navigation-login a:hover,
.user-navigation-signin a:hover {
    color: #ee3643;
}

.user-navigation-login a:active {
    opacity: 0.3;
}

.site-navigation {
    width: 100%;
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 -1px #293449;
}

.site-navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation-item {
    padding: 21px 30px;
}

.site-navigation-item:first-child {
    padding-left: 53px;
}

.site-navigation-item:last-child {
    margin-left: auto;
    padding-right: 55px;
}

.site-navigation-item a {
    font-size: 17px;
    color: #ffffff;
}

.site-navigation-item:hover {
    background-color: #293449;
}

.site-navigation-item a:active {
    opacity: 0.5;
}

                                                 /* Стили main-company */

 .our-products {
    padding-top: 59px;
    padding-bottom: 53px;
    width: 100%;
 }
 
.our-product-list {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.our-product-item,
.discount-services-item {
    width: 300px;
    position: relative;
}

.our-product-item:first-child {
    background-color: #ffbf47;
}

.container-item b {
    font-size: 24px;
    color: #ffffff;
    line-height: 30px;
    margin-bottom: 11px;    
}

.container-item {
    display: flex;
    flex-direction: column;    
    padding: 20px 0 22px 23px;
}

.product-item-btn {
    margin-left: 2px;
    width: 135px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px
}

.product-item-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.product-item-btn:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.our-product-item:first-child::before {
    content: url(../img/flag-new.png);
    position: absolute;
    right: 0;
    background-color: #ffbf47;
}

.our-product-item:first-child::after {
    content: url(../img/icon-1.svg);
    position: absolute;
    top: 31px;
    right: 43px;
}

.our-product-item:nth-child(2) {
    background-color: #3bbce3;
}

.our-product-item:nth-child(2)::after {
    content: url(../img/icon-2.svg);
    position: absolute;
    top: 33px;
    right: 28px;
}

.our-product-item:nth-child(3) {
    background-color: #dc91d8;
}

.our-product-item:nth-child(3)::after {
    content: url(../img/icon-3.svg);
    position: absolute;
    top: 31px;
    right: 31px;
}

.slider-discount-services {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slider-list {
    width: 620px;
    position: relative;
}

.slide-perforator {
    width: 100%;
    position: absolute;
    background-image: url(../img/slaider-1.jpg);
    background-repeat: no-repeat;
    z-index: 1;
}

.slide-drill {
    width: 100%;
    position: absolute;
    background-image: url(../img/slaider-2.jpg);
    background-repeat: no-repeat;
    z-index: 2;
}

.slider-items {
    padding: 25px 22px 20px;
    display: flex;
    flex-direction: column;
}

.slider-title {
    margin: 0;
    margin-bottom: 3px;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    font-weight: bold;
}

.slider-items b {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.slider-btns {
    margin-bottom: 52px;
    display: flex;
    justify-content: space-between;
}

.slider-previous,
.slider-next {
    width: 22px;
    height: 40px;
}

.open-btn {
    padding: 10px 0;
    width: 195px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    border-radius: 3px;
}

.open-btn:hover {
    background-color: #ca2c37;
}

.open-btn:active {
    background-color: #ba2732;
}

.open-indicator {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.slider-indicator {
    padding: 0;
    margin: 0;
    width: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-indicator-item {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
}

.indicator-current:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ee3643;
}

.discount-services {
    height: 266px;
    width: 300px;
    display: flex;
}

.discount-services-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discount-services-item:first-child {
    background-color: #8ed78f;
}

.discount-services-item:first-child::after {
    content: url(../img/icon-4.svg);
    position: absolute;
    top: 26px;
    right: 45px;
}

.discount-services-item:nth-child(2) {
    background-color: #ffc047;
}

.discount-services-item:nth-child(2)::after {
    content: url(../img/icon-5.svg);
    position: absolute;
    top: 32px;
    right: 31px;
}

.container-popular {
    padding: 25px 24px 26px 28px;
    margin-bottom: 20px;
    background-color: #f9f5f0;
    display: flex;
    justify-content: space-between;
}

.popular-product,
.popular-manufacturers {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
    color: #32425c;
    font-weight: 400;
}

.all-product-btn {
    padding: 10px 0;
    width: 253px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    border-radius: 3px;
}

.all-product-btn:hover,
.all-product-btn:hover,
.application-btn:hover {
    background-color: #ca2c37;
}

.all-product-btn:active,
.all-product-btn:active,
.application-btn:active {
    background-color: #ba2732
}

.popular-list {
    font-family: "PT Sans", Arial, sans-serif;
}

.popular-manufacturers-list {
    padding: 0;
    margin: 0;
    margin-bottom: 85px;
    list-style: none;
    width: 100%;
    min-height: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}

.popular-manufacturers-item {
    width: 220px;
    min-height: 145px;
    border: 1px solid #eaeaea;
}

.popular-manufacturers-item a {
    display: flex;
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: space-around;
}

.popular-manufacturers-item:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5); 
}

.popular-manufacturers-item:active {
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5); 
    opacity: 0.3;
}

.services {
    padding: 0;
    padding-top: 66px;
    background-color: #f4f8f9;
}

.services-title {
    margin: 0;
    margin-bottom: 28px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.services-description {
    margin: 0;
    margin-bottom: 72px;
    font-family: "PT Sans", Arial, sans-serif;
    width: 400px;
    font-size: 13px;
    line-height: 24px;
}

.container-services { 
    width: 100%;
    display: flex;
    justify-content: space-between;    
}

.services-list {
    padding: 0;
    margin: 0;
    padding-bottom: 100px;
    list-style: none;
    position: relative;
}

.services-list:before {
    position: absolute;
    content: url(../img/services-shadow.png);
    top: -48px;
    right: 0;    
}

.services-item {
    min-height: 61px;
    width: 240px; 
    display: flex;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;    
}

.services-item a {
    width: 100%;
    padding-left: 22px;
    color: #ffffff;    
    display: flex;
    align-items: center;
    background-color: #32425c;
    border-bottom: 1px solid #293449;
    box-shadow: inset 0 1px 0 1px #405069;
}

.container-service-dl {
    width: 620px;
    position: relative;
}

.description-services-list {
    margin: 0;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #f4f8f9;
}

.delivery {
    z-index: 1;
}

.guarantee {
    z-index: 2;
}

.credit {
    z-index: 3;
}

.description-services-list:before {
    position: absolute;
    right: 0;
}

.delivery::before {
    content: url(../img/delivery.png);
    bottom: 0;
}

.guarantee::before {
    content: url(../img/guarantee.png);
}

.credit::before {
    content: url(../img/credit.png);
}

.term-list {
    margin-bottom: 28px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.term-item {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.delivery-term,
.credit-term    {
    width: 280px;
}

.guarantee-term {
    width: 375px;
}

.services-item a:hover {
    background-color: #293449;
}

.services-item a:focus  {
    color: #32425c;
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: none;
    outline: none;
}

.send-application {
    margin: 0;
}

.application-btn {
    display: block;
    padding: 10px 0;
    margin-top: 25px;
    width: 195px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    border-radius: 3px;
}

                                        /* Блок о комппании и контакты  */

.info-about-us {
    display: flex;
    justify-content: space-between;
    padding: 77px 0 86px;
    position: relative;
}

.site-about-company {
    width: 540px;
}

.site-contacts {
    width: 300px;
}

.site-title {
    margin: 0;
    text-transform: uppercase;
}

.transport-company {
    padding: 0;
    margin: 25px 0 36px;
    list-style: none;
}

.transport-company-item {
    margin-bottom: 20px;
}

.transport-company-item::before {
    content: url(../img/trans_comp-line.png);
    position: relative;
    bottom: 5px;
    margin-right: 10px;
}


.description-about-company,
.description-contacts {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 32px 0 0;
}

.site-contacts-map {
    display: block;
    margin: 35px 0 36px;     
}

.btn-about-company,
.btn-site-contacts {
    display: block;
    font-size: 14px;
    background-color: #ee3643;
    border-radius: 3px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 0;
    text-align: center; 
}

.btn-about-company {
    width: 220px;
}

.btn-site-contacts {
    width: 300px;
}

.btn-about-company:hover,
.btn-site-contacts:hover {
    background-color: #ca2c37;
}

.btn-about-company:active,
.btn-site-contacts:active {
    background-color: #ba2732;
}

                                /* Стили для modal-write */

.container-modal-write {
    display: none;
    position: fixed;
    top: 50px;
    bottom: 200px;
    left: 50%;

    margin-left: -310px;
}

.modal-write {
    width: 620px;
    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75),
                inset 0 8px 1px -1px #ee3643;
    position: relative;
}

.modal-feedback {
    display: flex;
    flex-direction: column;
}

.container-modal-feedback {
    padding: 55px 80px 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

.label-modal-write {
    width: 220px;
    display: flex;
    flex-direction: column;
}

.label-modal-write:nth-child(3) {
    flex-grow: 1;
}

.label-modal-write b {
    font-size: 18px;
    font-weight: 400;
}

.label-modal-write input,
.label-modal-write textarea {
    padding: 9px 0 11px 13px;;
    margin-top: 12px;
    border: 2px solid #dee3e4;
    border-radius: 3px;
    resize: none;
}

.label-modal-write input::placeholder,
.label-modal-write textarea::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    color: #a9a9a9;
}

.modal-write-container-btn {
    width: 100%;
    padding: 37px 80px;
    background-color: #f4f4f4;
}

.modal-write-btn {
    width: 100%;
    border: none;
    background-color: #ee3643;
    color: #ffffff;
    font-size: 14px;
    padding: 11px 0 12px;
    border-radius: 3px;
    text-transform: uppercase;
}

.modal-close {
    width: 21px;
    height: 21px;
    top: 9px;
    right: 9px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 0;
    position: absolute;
    background-image: url(../img/icon-close-red.svg);
}

                                /* Стили для modal-map */

.modal-map {
    display: none;
    position: fixed;
    top: 10%;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.container-modal-map {
    height: 447px;
}

                                            /* Стили для футер */

.main-footer {
    background-color: #32425c;
}

.main-footer-down {
    background-color: #293449;
}

.container-navigation-list {
    display: flex;
    justify-content: space-between;
}

.main-footer-navigation-list,
.main-footer-shop-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-footer-navigation-list a:hover,
.main-footer-shop-list a:hover  {
    text-decoration: underline;
}

.main-footer-navigation-list a:active,
.main-footer-shop-list a:active  {
    opacity: 0.5;
}

.main-footer-navigation-list {
    align-items: center;
    width: 550px;
    padding-top: 25px;
}

.main-footer-shop-list {
    align-items: baseline;
    width: 530px;
}

.container-shop-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 25px 0 50px;
}

.main-footer-navigation-item a {
    font-size: 18px;
    color: #ffffff;
}

.footer-address,
.footer-phone {
    font-style: inherit;
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.main-footer-shop-item a {
    font-size: 18px;
    color: #ffd180;
}  

.main-footer-copyright {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin: 0;
}

.container-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 0 29px;
}

.container-copyright-social {
    display: flex;
    width: 522px;
    align-items: center;
    justify-content: space-between;
}

.main-footer-social-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-item {
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
}

.social-item a {
    display: block;
    height: 42px;
    width:42px;
    background-color: #212a3a;
    border-radius: 50%;
}

.social-item a:hover {
    background-color: #ee3643;
}

.social-item a:active {
    background-color: #ee3643;
}

.social-button {
    background-repeat: no-repeat;
    background-position: center;
}

.social-button-vk {
    background-image: url(../img/icon-vk.svg);
}

.social-button-fb {
    background-image: url(../img/icon-fb.svg);
}

.social-button-insta {
    background-image: url(../img/icon-insta.svg);
}

.container-feedback {
    display: flex;
    width: 315px;
    justify-content: space-around;
}

.feedback {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.feedback a {
    color: #ffd180;
}

.feedback a:hover {
    text-decoration: underline;
}

.feedback a:active {
    color: #ee3643;
}


                                                /* Стили для Catalog */


.user-name {
    width: 299px;
    position: relative;
}

.user-name-id {
    margin: 0;
    padding: 12px 47px 10px;
    background-color: #ffffff
}

.user-name-id a {
    font-size: 21px;
    color: #000000;
}

.user-name-id a:active {
    color: #c5c5c5;
}

.user-name-id::before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 18px;
    left: 15px;
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
}

.user-name-id:hover::before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 18px;
    left: 15px;
    background-image: url(../img/icon-user-dark.svg);
    background-repeat: no-repeat;
}

.user-name-id:active::before {
    background-image: url(../img/icon-user.svg);
}

.logout-user {
    position: absolute;
    width: 20px;
    height: 17px;
    top: 14px;
    right: 10px;
    background-image: url(../img/icon-logout.svg);
    background-repeat: no-repeat;
}

.logout-user:hover {
    position: absolute;
    width: 20px;
    height: 17px;
    top: 14px;
    right: 10px;
    background-image: url(../img/icon-logout-dark.svg);
    background-repeat: no-repeat;
}

.logout-user:active {
    background-image: url(../img/icon-logout.svg);
}

.user-menu {
    margin: 0;
    padding: 8px 0 0 18px;
    width: 227px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.user-menu-item:nth-child(2)  {
    width: 4px;
    height: 5px;
    background-color: #32425c;
    border-radius: 50%;
    position: relative;
    top: 8px;
}

.user-menu-item a{
    text-decoration: underline;
    color: #32425c;
    font-size: 16px;
}

.user-menu-item a:hover {
    color: #ee3643;
}

.user-menu-item a:active {
    color: #c5c5c5;
}

.breadcrumbs {
    width: 355px;
    margin: 0;
    padding: 22px 0 19px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.breadcrumbs-home {
    display: block;
    width: 15px;
    height: 12px;
    background-image: url(../img/icon-home.svg);
    background-repeat: no-repeat;
}

.breadcrumbs-item:nth-child(2n) {
    width: 8px;
    height: 12px;
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
}

.breadcrumbs a {
    color: #000000;
}

.page-title {
    padding: 30px 0 29px 28px;
    letter-spacing: -1px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;
}

.container-page {
    display: flex;
    justify-content: space-between;
    font-family: "PT Sans", Arial, sans-serif;
}

.page-filters {
    width: 220px;
}

.filters {
    margin: 0;
    padding: 10px 0 10px 19px;
    background-color: #f7f3ec;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 5px;
}

.page-filters fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filter-range {
    width: 100%;
}

.range-controls {
    position: relative;
    background-color: #f7f3ec;
    border-radius: 5px;
    padding: 39px 20px;
    margin: 20px 0 9px;
}

.range-controls .scale {
    height: 2px;
    width: 180px;
    background-color: #d7dcde;
}

.scale .bar {
    height: 2px;
    width: 80%;
    background-color: #00ca74;
}

.toogle {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #e0ddd8;
    cursor: pointer;
}

.toogle-min {
    top: 30px;
    left: 20px;
}

.toogle-max {
    top: 30px;
    right: 40px;
}

.price-controls {
    width: 100%;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.price-controls input[type="text"] {
    width: 95px;
    padding-top: 9px;
    padding-bottom: 10px;
    text-align: center;
    border: none;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.page-filters .manufacturers {
    border-bottom: 1px solid #e5e5e5;
}

.sorting {
    padding: 9px 18px 10px 19px;
    margin-bottom: 20px;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    background-color: #f7f3ec;
    border-radius: 5px;   
}

.sorting p {
    margin: 0;
    margin-right: auto;
}

.sortting-wrapper {
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sorting-list {
    width: 352px;    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.sorting-item {
    padding-top: 2px;
}

.sorting-link {
    color: #c5c5c5;
    border-bottom: 1px dotted #ee3643;
}

.sorting-link:hover {
    color: #231f20;
    border-bottom: 1px solid #ee3643;
}

.sorting-link:active {
    color: #ee3643;
}

.sorting-item-list {
    width: 43px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.sorting--item {
    width: 0;
    height: 0;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent; 
    cursor: pointer;   
}

.sorting--item-top{
    border-bottom: 10px solid#c5c5c5;      
}

.sorting--item-top:hover{
    border-bottom: 10px solid#231f20;      
}

.sorting--item-top:active{
    border-bottom: 10px solid#ee3643;      
}

.sorting--item-down {
    border-top: 10px solid #c5c5c5;  
}

.sorting--item-down:hover {
    border-top: 10px solid #231f20;  
}

.sorting--item-down:active {
    border-top: 10px solid #ee3643;  
}

.filters-list-manufacturers,
.filters-list-power {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.filters-list-manufacturers {
    height: 178px;
    margin-top: 22px;
    margin-bottom: 22px;
}

.filters-list-power {
    margin-top: 22px;
    margin-bottom: 80px;
    height: 57px; 
}

.page-filters-item {
    font-size: 15px;
    text-transform: uppercase;
}

.label-filters {
    position: relative;
    padding-left: 35px;
    padding-top: 2px; 
    cursor: pointer;
}

.label-filters b {
    font-weight: normal;
}

.label-filters input[type="checkbox"] + .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;    
}

.label-filters input[type="checkbox"]:checked + .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
}

.label-filters input[type="checkbox"]:checked:hover + .checkbox {
    background-image: url(../img/checkbox-on-hover.svg);
    background-repeat: no-repeat;
}

.label-filters input[type="checkbox"]:hover + .checkbox {
    background-image: url(../img/checkbox-off-hover.svg);
    background-repeat: no-repeat;
}

.label-filters input[type="checkbox"]:focus + .checkbox {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}


.label-filters input[type="radio"] + .radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;    
}

.label-filters input[type="radio"]:checked + .radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-on.svg);
    background-repeat: no-repeat;
}

.label-filters input[type="radio"] + .radio:hover {
    background-image: url(../img/radio-off-hover.svg);
    background-repeat: no-repeat;    
}

.label-filters input[type="radio"]:checked + .radio:hover {
    background-image: url(../img/radio-on-hover.svg);
    background-repeat: no-repeat;
}

.label-filters input[type="checkbox"]:focus + .radio {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.page-catalog {
    width: 700px
}

.page-catalog-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-catalog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    min-height: 318px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #e5e5e5;
    position: relative;     
}

.page-catalog-item:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5); 
}

.item-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    position: relative; 
}

.item-new::before {
    content: url(../img/flag-new.png);
    position: absolute; 
    right: 0;
    z-index: 1;
}

.catalog-item-firm {
    margin-top: 10px;
    margin-bottom: 11px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.catalog-item-price {
    color: #999999;
    font-weight: bold;
}

.catalog-item-new-price {
    font-weight: bold;
    color: #ffffff;
    width: 141px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 42px;
    padding: 10px 0 10px; 
    border-radius: 3px;
    background-color: #ee3643;
    position: relative;
}

.catalog-item-new-price::after {
    content: " ";
    top: 0;
    position: absolute;
    right: -20px;
    width: 0;
    height: 0;
    border: 19px solid #ffffff;
    border-left-color: #ee3643;
}

.container-buy-bookmark {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.page-catalog-item:hover .container-buy-bookmark {
    width: 218px;
    height: 170px;
    background-color: #ffffff;
    top: 0 ;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-catalog-item:hover .page-catalog-buy,
.page-catalog-item:hover .page-catalog-btn {
    display: block;
}

.page-catalog-buy {
    color: #ffffff;
    width: 135px;
    background-color: #63a63e;
    padding: 10px 0;
    border-radius: 3px;
    box-shadow: inset 0 -3px #367315;      
}

.page-catalog-buy:hover {
    background-color: #5fbb2d;
}

.page-catalog-buy:active {
    background-color: #518534;
}

.page-catalog-btn {
    font-family: "Cuprum", Arial, sans-serif;
    width: 135px;
    color: #32425c;
    margin-top: 7px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 9px 0 7px;
    background-color: #ffffff;
    border: 3px solid #63a63e;
    border-radius: 3px;
}

.page-catalog-btn:hover {
    border-color: #32425c;
}

.page-catalog-btn:active {
    opacity: 0.3;
}

.page-catalog-buy,
.page-catalog-btn {
    display: none;
}

.filter-manufacturers,
.filter-price,
.filter-power {
    font-weight: bold;
    text-transform: uppercase;
}

.filter-price {
    padding-top: 19px; 
}

.filter-manufacturers {
    padding-top: 20px;
}

.filter-power {
    padding-top: 23px;
}

.filters-btn {
    width: 140px;
    height: 38px;
    text-transform: uppercase;
    font-size: 13px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    cursor: pointer;
}

.pagination-catalog {
    margin-top: 32px;
    margin-bottom: 60px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
} 

.pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 240px;
    display: flex;
    flex-wrap: wrap;
}

.pagination-item {
    padding: 9px 15px;
    margin-right: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.pagination-active {
    border: 1px solid #ee3643;
    background-color: #ee3643;
}

.pagination-item:last-child {
    padding: 9px 31px;
}

.pagination-item:hover:not(.pagination-active) {
    border: 1px solid #bdc6ca;
}

.pagination-item:active:not(.pagination-active) {
    border: 1px solid #ee3643;
}

.pagination-item a {
    color: #000000;
    text-transform: uppercase;
}

.pagination-active a{
    color: #ffffff;
}

                                         /* Стили для Catalog-modal */

.container-catalog-modal {
    display: none;
    position: fixed;
    top: 369px;
    left: 50%;
    margin-left: -310px;
    z-index: 1;
}

.catalog-modal {    
    width: 620px;
    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
    border-top: 7px solid #ee3643;
    position: relative;
}  

.catalog-modal-confirm {
    display: flex;
    padding: 55px 80px 0;
    justify-content: space-between;
    align-items: center; 
}

.catalog-modal-confirm h2 {
    font-size: 30px;
    margin: 0;
    margin-right: 44px;
}

.catalog-modal-btns {
    margin-top: 48px;
    padding: 37px 80px;
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
}

.modal-order-btn {
    width: 220px;
    border: none;
    background-color: #ee3643;
    color: #ffffff;
    font-size: 14px;
    padding: 11px 0 12px;
    border-radius: 3px;
    text-transform: uppercase;
}

.modal-order-btn:hover {
    background-color: #ca2c37;
}

.modal-order-btn:active {
    background-color: #ba2732;
}

.modal-shoping-btn {
    background-color: #ffffff;
    width: 220px;
    color: #000000;
    font-size: 14px;
    padding: 11px 0 12px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
}

.about-product {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 66px;
    background-color: #f2f6f8;
}

.about-tools {
    margin: 0;
    margin-bottom: 28px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
}

.tools-blog {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}